@mixin border-bottom {
  position: relative;
  ::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #e6e6e6;
    transform: scaleY(0.5);
  }
}
